In [ ]:
# pip install mysql-connector
# pip install --upgrade mysql-connector-python
# pip install PyMySQL

In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

from typing import Optional, Union, Tuple, Dict, Any, List

import mysql.connector
from sqlalchemy import (Boolean, BigInteger, Column, create_engine, DateTime, Float, 
                        ForeignKey, Integer, PrimaryKeyConstraint, String, text)
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.schema import CreateTable

# from db_config import database, host, password, port, username

In [ ]:
# Data Preparation and Cleaning
# Index sorting by deploying sort_index() method. It will provide an easy access to data
# Renaming of multiple columns using rename() method
# Evaluating the presence duplicate values in dataframes
# Creating and assigning values to columns
# Converting row values of column into titlecase by using .str.title() and .apply() methods
# Checking for weird symbols
# Mapping dtypes to correct dtypes, i.e. Seasons to INT

In [ ]:
# Classes:
class DataCleaning: # DataframeCleaner
    """
    A class designed to perform various data cleaning operations on a pandas DataFrame.
    """

    def __init__(self, data: pd.DataFrame):
        """
        Constructor for the DataCleaning class.
        """
        self.data = data.copy()
        self.series = None
        self.default_value = 0

    def replace_to_none(self,  value: Union[str, List[str], None] = None):
        """
        Replace specified values (or NaN by default) in the DataFrame with None.
        """
        if value is None:
            value = np.nan        

        if not isinstance(value, list):  # If a single string is provided, convert it to a list.
            value = [value]

        for replace in value:
            self.data.replace({replace: None}, inplace=True)
        return self.data

    def remove_duplicates(self):
        """
        Remove duplicate rows from the DataFrame.
        """
        self.data.drop_duplicates(keep='first', inplace=True)
        return self.data

    def remove_column_duplicates(self, column_name: str):
        """
        Remove duplicate value if any found. Keep rows with the lowest price. 
        """
        if column_name not in self.data.columns:
            raise ValueError(f"The DataFrame does not have a '{column_name}' column.")

        # Define columns to be considered for identifying duplicates.
        column_subset = self.data.columns.difference([column_name])

        # Sort DataFrame based on the 'price' column in ascending order.
        self.data.sort_values(by=column_name, inplace=True)

        # Drop duplicates, retaining the first occurrence (which will have the lowest price due to sorting).
        self.data.drop_duplicates(subset=column_subset, keep='first', inplace=True)
        return self.data

    # def remove_brackets(self, column_name: str):
    #     """
    #     Removes [ and ] from a specified column in a DataFrame.
    #     """
    #     modified_column = self.data[column_name].str.replace('[\[\]]', '', regex=True)
    #     return modified_column

    # def remove_single_quotes(self, column_name: List[str]):
    #     """
    #     Removes single quotes ' from a specified column in a DataFrame.
    #     """
    #     modified_column = self.data[column_name].str.replace('\'', '')
    #     return modified_column

    # Number cleaning
    def number_cleaning(self, column_name: str, dtype='float'):
        """
        Utility to clean and convert columns in a DataFrame into numeric types.
        
        Methods:
        - number_cleaning: Converts a column into either float or int type.
        - _extract_float: Helper to extract/convert values to float.
        - _extract_int: Helper to extract/convert values to int.
        """
        if column_name not in self.data:
            raise ValueError(f"Column '{column_name}' not found in the DataFrame.")

        self.series = self.data[column_name]

        if dtype == 'float':
            self.data[column_name] = self.series.apply(self._extract_float)
        elif dtype == 'int':
            self.data[column_name] = self.series.apply(self._extract_int)
        else:
            raise ValueError(f"Unsupported dtype {dtype}")
        return self.data[column_name]

    def _extract_float(self, value):
        """Attempt to extract or convert a value into a float."""
        if pd.isna(value):  # Check if value is NaN
            return self.default_value
        try:
            return float(value)
        except ValueError:
            # If direct conversion fails, first remove all but the last period
            modified_value = value[::-1].replace('.', '', value.count('.') - 1)[::-1]
            # If direct conversion fails, extract the number from the string
            float_val = ''.join(filter(lambda x: x.isdigit() or x == '.', modified_value))
            if float_val:
                return float(float_val)
            else:
                index_value = self.series[self.series == value].index[0]
                print(f"Failed to convert value '{value}' at index {index_value} to float.")
                return self.default_value

    def _extract_int(self, value):
        """Attempt to extract or convert a value into an integer."""
        if pd.isna(value):  # Check if value is NaN
            return self.default_value
        try:
            return int(value)
        except ValueError:
            # If direct conversion fails, extract the number from the string
            int_val = ''.join(filter(lambda x: x.isdigit(), str(value)))
            if int_val:
                return int(int_val)
            else:
                index_value = self.series[self.series == value].index[0]
                print(f"Failed to convert value '{value}' at index {index_value} to int.")
                return self.default_value
            
# NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW  NEW 
    def remove_brackets_and_quotes(self, column_name: str):
        """
        Removes [ ], and ' from a specified column in a DataFrame.
        """
        self.data[column_name] = self.data[column_name].str.replace('[\[\]\'\']', '', regex=True)
        return self.data[column_name]  # Return only the processed column
    
    def missing_to_zero(self, column_name: str):
        """
        Replace missing values in the specified column with 0 if it's a numeric column,
        or "None" if it's a String/Object column.
        """
        if column_name not in self.data.columns:
            raise ValueError(f"Column '{column_name}' does not exist in the DataFrame.")
        
        if pd.api.types.is_numeric_dtype(self.data[column_name]):
            self.data[column_name].fillna(0, inplace=True)
        else:
            self.data[column_name].fillna("None", inplace=True)
            self.data[column_name].replace("", "None", inplace=True)
        return self.data[column_name]  # Return only the processed column

    def missing_to_median_or_mode(self, column_name: str):
        """
        Replace missing values in the specified column with median if it's a numeric column,
        or mode if it's a String/Object column.
        """
        if column_name not in self.data.columns:
            raise ValueError(f"Column '{column_name}' does not exist in the DataFrame.")
        
        if pd.api.types.is_numeric_dtype(self.data[column_name]):
            self.data[column_name].fillna(self.data[column_name].median(), inplace=True)
        else:
            mode_value = self.data[column_name].mode().iloc[0]
            self.data[column_name].fillna(mode_value, inplace=True)
        return self.data[column_name]  # Return only the processed column
    
    def generate_factor_id(self, id_columns: list, id_field: str):
        """
        Generate primary keys from specified id_columns in the DataFrame.

        Parameters:
            id_columns (list): List of column names from which primary keys are generated.
            id_field (str): The name of the new primary key column.

        Returns:
            pd.DataFrame: The DataFrame with primary key columns added.

        Description:
            The method generates primary keys for the DataFrame based on the specified 'id_columns'.
            It uses the 'pd.factorize()' function to convert categorical data into numerical codes.
            The method creates unique integer identifiers for each combination of values in the selected 'id_columns'.
            The primary key values start from 1 and increment by 1 for each unique combination of values.
            The new primary key column is added to the DataFrame with the name specified by 'id_field'.
        """
        # Sort the DataFrame by its index
        self.data.sort_index(inplace=True)
        
        # Generate the ID key for the DataFrame
        self.data[id_field] = pd.factorize(self.data[id_columns].apply(tuple, axis=1))[0] + 1
        return self.data
    
    def add_id(df):
        """
        Add an 'id' column to the DataFrame based on the index.

        Args:
            df (pd.DataFrame): The DataFrame to which the 'id' column will be added.

        Returns:
            pd.DataFrame: The DataFrame with the 'id' column added based on the index.

        Raises:
            ValueError: If the input is not a pandas DataFrame.
        """
        if not isinstance(df, pd.DataFrame):
            raise ValueError("Input should be a pandas DataFrame.")

        # Reset the DataFrame index
        df = df.reset_index(drop=True)

        # Add the 'id' column based on the index, starting from 1
        df['id'] = df.index + 1

        return df

In [ ]:
# Functions
def compute_missing_values(data: pd.DataFrame) -> pd.DataFrame:
    """
    Compute the number and percentage of missing values for each column in a DataFrame.

    Args:
        data (pd.DataFrame): The DataFrame to analyze for missing values.

    Returns:
        pd.DataFrame: A DataFrame containing counts and percentages of missing values for each column.
    """
    
    # Check for missing values in the dataframe
    missing_values = data.isnull().sum()
    missing_values_percentage = round((data.isnull().sum() / len(data)) * 100, 2)

    # Combine the counts and percentages into a dataframe for a clearer view
    missing_values_df = pd.DataFrame({
        'Missing Values': missing_values,
        'Percentage (%)': missing_values_percentage
    }).sort_values(by='Percentage (%)', ascending=False)
    
    # Filter to include only columns where missing value count > 0
    # missing_values_df = missing_values_df[missing_values_df['Missing Values'] > 0].sort_values(by='Percentage (%)', ascending=False)
    missing_values_df = missing_values_df.sort_values(by='Percentage (%)', ascending=False)
    
    return missing_values_df

def not_alphanumeric_columns(data: pd.DataFrame, pattern=r"[^a-zA-Z0-9\s]") -> list:
    """
    Identify columns with non-alphanumeric characters in a DataFrame.

    Args:
        data (pd.DataFrame): The DataFrame to analyze.
        pattern (str, optional): Regular expression pattern to search for. Defaults to non-alphanumeric characters.

    Returns:
        list: A list of column names that contain entries with non-alphanumeric characters.
    """
    
    columns_with_symbols = []
    
    for column in data.columns:
        if data[data[column].astype(str).str.contains(pattern, na=False, regex=True)].shape[0] > 0:
            columns_with_symbols.append(column)
    
    return columns_with_symbols

def not_alphanumeric(data: pd.DataFrame, column: str, pattern=r"[^a-zA-Z0-9\s]") -> pd.Series:
    """
    View entries with non-alphanumeric characters for a specific column in a DataFrame.

    Args:
        data (pd.DataFrame): The DataFrame to analyze.
        column (str): The column in which to search for non-alphanumeric characters.
        pattern (str, optional): Regular expression pattern to search for. Defaults to non-alphanumeric characters.

    Returns:
        pd.Series: A series containing entries from the specified column that match the pattern.
    """
    
    return data[data[column].astype(str).str.contains(pattern, na=False, regex=True)][column]

def outliers_numerical_cols(df: pd.DataFrame) -> None:
    """Visualize outliers in numerical columns using boxplots.

    Args:
        df (pd.DataFrame): Input dataframe.
    """
    numerical_columns = df.select_dtypes(include=["float64", "int64"]).columns
    num_cols = 3
    num_rows = (len(numerical_columns) + 2) // num_cols

    plt.figure(figsize=(15, 5 * num_rows))
    for i, col in enumerate(numerical_columns, start=1):
        plt.subplot(num_rows, num_cols, i)
        sns.boxplot(x=df[col].dropna())
        plt.title(col)

    plt.tight_layout()
    plt.show()


def distribution_numerical_cols(df: pd.DataFrame, kde: bool = True) -> None:
    """Visualize distribution of numerical columns using histograms.

    Args:
        df (pd.DataFrame): Input dataframe.
        kde (bool, optional): Whether to plot a KDE (Kernel Density Estimation). Defaults to True.
    """
    numerical_columns = df.select_dtypes(include=["float64", "int64"]).columns
    num_cols = 3
    num_rows = (len(numerical_columns) + 2) // num_cols

    plt.figure(figsize=(15, 5 * num_rows))
    for i, col in enumerate(numerical_columns, start=1):
        try:
            plt.subplot(num_rows, num_cols, i)
            sns.histplot(df[col], bins=30, kde=kde)
            plt.title(f"Distribution of {col}")
            plt.xlabel(col)
            plt.ylabel("Frequency")
        except:
            continue

    plt.tight_layout()
    plt.show()


def outlier_cols(column_data: pd.Series) -> bool:
    """Check if a column has outliers using IQR.

    Args:
        column_data (pd.Series): Column data to check.

    Returns:
        bool: True if outliers exist, False otherwise.
    """
    Q1 = column_data.quantile(0.25)
    Q3 = column_data.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return ((column_data < lower_bound) | (column_data > upper_bound)).any()

def analyze_categorical_column(
    dataframe: pd.DataFrame, column_name: str
) -> Tuple[Dict[str, Any], pd.DataFrame, pd.DataFrame, List[str]]:
    """Analyze a categorical column of a given DataFrame.

    Args:
        dataframe (pd.DataFrame): Input dataframe containing the column to be analyzed.
        column_name (str): Name of the categorical column to analyze.

    Returns:
        Tuple[Dict[str, Any], pd.DataFrame, pd.DataFrame, List[str]]: A tuple containing
        analysis results as a dictionary,
        dataframes with the shortest and longest values,
        and a list of non-string columns.
    """
    analysis_results = {}
    non_str_columns = []

    if column_name not in dataframe.columns:
        return f"The column '{column_name}' does not exist in the DataFrame."

    analysis_results["missing_values"] = dataframe[column_name].isnull().sum()
    analysis_results["unique_values"] = dataframe[column_name].nunique()
    analysis_results["total_values"] = dataframe[column_name].count()
    analysis_results["duplicated_values"] = dataframe[column_name].duplicated().sum()
    analysis_results["values_with_whitespace"] = (
        dataframe[column_name].str.strip().ne(dataframe[column_name]).sum()
    )
    analysis_results["values_with_unusual_chars"] = (
        dataframe[column_name]
        .apply(lambda x: any(ord(char) < 32 or ord(char) > 126 for char in str(x)))
        .sum()
    )

    value_lengths = dataframe[column_name].str.len()
    analysis_results["shortest_value_length"] = value_lengths.min()
    analysis_results["longest_value_length"] = value_lengths.max()
    analysis_results["average_value_length"] = value_lengths.mean()

    shortest_value = dataframe[
        dataframe[column_name].str.len() == analysis_results["shortest_value_length"]
    ]
    longest_value = dataframe[
        dataframe[column_name].str.len() == analysis_results["longest_value_length"]
    ]

    return analysis_results, shortest_value, longest_value

def column_max_lengths(dataframe: pd.DataFrame, categorical_columns: List[str]) -> None:
    """
    Display the maximum string lengths of specified columns in a given dataframe.
    
    Args:
        dataframe (pd.DataFrame): The dataframe containing the columns to be analyzed.
        columns (List[str]): List of column names whose maximum string lengths are to be displayed.
        
    Returns:
        None: The function prints the results and does not return any value.
    """
    
    print("Column Name".ljust(30), "Max Length".ljust(10))
    print("-" * 40)
    for column in categorical_columns:
        max_length = dataframe[column].str.len().max()
        print(f"{column.ljust(30)} {str(max_length).ljust(10)}")
        
def df_col_max_lengths(dataframe: pd.DataFrame) -> None:
    """
    Display the maximum string lengths of categorical columns in a given dataframe.
    """
    categorical_columns = dataframe.select_dtypes(include=['string', 'object']).columns.tolist()
    
    print("Column Name".ljust(30), "Max Length".ljust(10))
    print("-" * 40)
    for column in categorical_columns:
        max_length = dataframe[column].str.len().max()
        print(f"{column.ljust(30)} {str(max_length).ljust(10)}")
                


def lowercase_column_names(df):
    """Convert all column names in a DataFrame to lowercase."""
    # Use a list comprehension to convert column names to lowercase
    df.columns = [col.lower() for col in df.columns]
    return df

  # Usage: df = lowercase_column_names(df)
  # Works same as: df.columns = [c.lower() for c in df.columns]

In [ ]:
# Decorator to track DataFrame creation
def track_dataframe(func):
    def wrapper(*args, **kwargs):
        # Get the result of the function (which should be a DataFrame)
        result = func(*args, **kwargs)
        
        # Add the name of the DataFrame to df_names list
        # If the DataFrame does not have a name attribute, use the function's name as a placeholder
        name = getattr(result, 'name', func.__name__)
        df_names.append(name)
        
        return result
    return wrapper

In [ ]:
# Example of usage:
@track_dataframe
def create_example_df():
    import pandas as pd
    df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
    return df

# Call the function to test the decorator
example_df = create_example_df()

# Display the df_names list
# df_names

In [ ]:
# List the contents of the extraction directory
directory = "data/"
files = os.listdir(directory)
files

In [ ]:
# csv_file_path = r'..raw_credits.csv'

# df = pd.read_csv(csv_file_path, sep=',')

# Imports

In [ ]:
raw_titles_df = pd.read_csv(os.path.join(directory, 'raw_titles.csv'), index_col = "index")
raw_titles_df.head()

In [ ]:
raw_credits_df = pd.read_csv(os.path.join(directory, 'raw_credits.csv'), index_col = "index")
raw_credits_df.head()

In [ ]:
# raw_titles_df missing values with %
"""seasons (64.74% missing): This is expected, as the seasons column would primarily apply to TV shows, and not all entries in the dataset are TV shows.
age_certification (44.95% missing): Almost half of the titles lack age certification data.
imdb_votes (9.28% missing): A minor percentage of titles don't have the number of IMDB votes.
imdb_score (9.01% missing): Similarly, a small percentage of titles don't have IMDB scores.
imdb_id (7.65% missing): Some titles don't have their corresponding IMDB IDs.
title (0.02% missing): Only one title is missing its name."""
compute_missing_values(raw_titles_df)
# raw_titles_df.isna().sum()

In [ ]:
compute_missing_values(raw_credits_df)

In [ ]:
processing_titles = DataCleaning(raw_titles_df)

# df = processing.generate_factor_id(id_columns=['id'], id_field='new_id')
processing_titles.remove_duplicates()
processing_titles.remove_column_duplicates('id')
processing_titles.remove_column_duplicates('imdb_id')
# processing_titles.generate_factor_id(id_columns=['id'], id_field='id')
# df = processing.replace_to_none()
# df = add_id_from_index(df)
raw_titles_df = processing_titles.data

In [ ]:
processing_credits = DataCleaning(raw_credits_df)

# df = processing.generate_factor_id(id_columns=['id'], id_field='new_id')
processing_credits.remove_duplicates()
# df = processing.replace_to_none()
# df = add_id_from_index(df)
raw_credits_df = processing_credits.data

In [ ]:
# Global list to store DataFrame names
df_names = ['raw_titles_df', 'raw_credits_df']

titles_columns_for_null = ['age_certification', 'seasons', 'imdb_id', 'genres', 'production_countries']

titles_columns_for_median_or_mode = ['imdb_score', 'imdb_votes']

titles_columns_for_brackets = ['genres', 'production_countries']

credits_columns_for_null = ['name',	'character',	'role']

In [ ]:
for column in titles_columns_for_brackets:
    raw_titles_df[column] = processing_titles.remove_brackets_and_quotes(column_name=column)

for column in titles_columns_for_null:
    raw_titles_df[column] = processing_titles.missing_to_zero(column_name=column)

for column in titles_columns_for_median_or_mode:
    raw_titles_df[column] = processing_titles.missing_to_median_or_mode(column_name=column)

raw_titles_df = raw_titles_df.dropna()

raw_titles_df = raw_titles_df.copy()

raw_titles_df[raw_titles_df['genres']=="None"]

# for column in column_list_int:
#     df[column] = processing.number_cleaning(column_name=column, dtype='int')

# for column in column_list_float:

#     df[column] = processing.number_cleaning(column_name=column, dtype='float')

# converter = DateConverter()

# for column in column_list_date:
#     df[column] = converter.prepare_date(df[column])

# spliting = ColumnProcessor(df)

# for column in column_list_split:
#     bridge_dfs[column], processed_dfs[column] = spliting.process_column_split(column)

In [ ]:
for column in credits_columns_for_null:
    raw_credits_df[column] = processing_credits.missing_to_zero(column_name=column)
    
raw_credits_df = raw_credits_df.copy()

raw_credits_df[raw_credits_df['character']=="None"]

In [ ]:
raw_titles_df.dtypes

In [ ]:
if isinstance(raw_titles_df, pd.DataFrame):
    print("df is a pandas DataFrame!")
else:
    print("df is not a pandas DataFrame.")

# Save data

In [ ]:
file_path = "raw_titles_df.csv"
raw_titles_df.to_csv(file_path, index=False)

file_path = "raw_credits_df.csv"
raw_credits_df.to_csv(file_path, index=False)

In [ ]:
data = pd.read_csv("raw_titles_df.csv")
df = pd.DataFrame(data)

In [ ]:
"""Mapping for column names and types."""
columns_dict = {
                'id': 'string',
                'title': 'string',
                'type': 'string',
                'release_year': 'int', # DATE YEAR? OR INT
                'age_certification': 'string',
                'runtime': 'int', 
                'genres': 'string', # Or list
                'production_countries': 'string',# Or list
                'seasons': 'int',
                'imdb_id': 'string',
                'imdb_score': 'float64',
                'imdb_votes': 'int'
                }

errors = []

for column, dtype in columns_dict.items():
    try:
        raw_titles_df[column] = raw_titles_df[column].astype(dtype)
    except ValueError:
        errors.append(f'Column {column} dtype change failed!')

In [ ]:
raw_titles_df.dtypes

In [ ]:
not_alphanumeric_columns(raw_titles_df)

In [ ]:
not_alphanumeric(raw_titles_df, 'imdb_score').head(10)

In [ ]:
raw_titles_df.describe().T

In [ ]:
# Best rated movies
raw_titles_df[raw_titles_df['type'] == 'MOVIE'].sort_values(by='imdb_score', ascending=False).head(5)

In [ ]:
# Extract genres from the 'genres' column
# all_genres = df['genres'].str.strip("[]").str.replace("'", "").str.split(", ").sum()
all_genres = raw_titles_df['genres'].str.split(", ").sum()

# Convert the list of genres into a Series and count occurrences
genre_counts = pd.Series(all_genres).value_counts()

# Plot the top 10 genres
plt.figure(figsize=(15, 7))
sns.barplot(y=genre_counts.index[:10], x=genre_counts.values[:10], palette='magma')
plt.title('Top 10 Genres on Netflix')
plt.xlabel('Number of titles')
plt.ylabel('Genre')
plt.show()

In [ ]:
numerical_cols = raw_titles_df.select_dtypes(include=['float', 'int']).columns.tolist()
# categorical_cols = ['title', 'series', 'bookFormat', 'edition', 'publisher']
categorical_cols = raw_titles_df.select_dtypes(include=['string', 'object']).columns.tolist()
numerical_cols, categorical_cols

In [ ]:
desc_stats = raw_titles_df[numerical_cols].describe().T
desc_stats["mode"] = raw_titles_df[numerical_cols].mode().iloc[0]
desc_stats

In [ ]:
"""Create analyses dictionary to view for cateogrical columns. """
analysis_results_dict = {}
non_str_columns = []

for column in raw_titles_df.columns:
    try:
        results, shortest, longest = analyze_categorical_column(raw_titles_df, column)
        analysis_results_dict[column] = {
            "analysis_results": results,
            "shortest_value": shortest,
            "longest_value": longest
        }
    except Exception as e:
        non_str_columns.append(column)

non_str_columns

In [ ]:
new_col = 'type'
analysis_results_dict[new_col]['analysis_results']

In [ ]:
new_col = 'title'
analysis_results_dict[new_col]['analysis_results']

In [ ]:
new_col = 'age_certification'
analysis_results_dict[new_col]['analysis_results']

In [ ]:
new_col = 'production_countries'
analysis_results_dict[new_col]['analysis_results']

In [ ]:
new_col = 'genres'
analysis_results_dict[new_col]['analysis_results']

In [ ]:
new_col = 'imdb_id'
analysis_results_dict[new_col]['analysis_results']

In [ ]:
column_max_lengths(raw_titles_df, categorical_cols)

In [ ]:
"""
Computing correlation matrix between numerical columns and plotting it 
for ease of visualization. Some columns are highly correlated with one another, 
which makes sense because a votes and ratings are associated.
"""
corr_matrix = raw_titles_df[numerical_cols].corr().round(2)

plt.figure(figsize=(20, 15))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', center=0, linewidths=.5)
plt.title("Correlation Matrix")
plt.show()

In [ ]:
""" Plotting categorical Columns, first 10 values only."""
plt.figure(figsize=(15, 5 * len(categorical_cols)))
for i, col in enumerate(categorical_cols, 1):
    plt.subplot(len(categorical_cols), 1, i)
    sns.countplot(data=raw_titles_df, y=col, order=raw_titles_df[col].value_counts().index[:10])
    plt.title(f'Distribution of {col}')
    plt.xlabel('Count')
    plt.ylabel(col)

plt.tight_layout()
plt.show()

In [ ]:
"""Graphical investigation of numerical columns for outliers."""
outliers_numerical_cols(raw_titles_df)

In [ ]:
"""View distribution of numerical columns."""
distribution_numerical_cols(raw_titles_df)

In [ ]:
"""The dataset predominantly contains titles released from the early 2000s onwards, with a peak around the 2010s. There are fewer titles from the mid-20th century, and the number increases gradually from the 1980s.

Above statistical analsyis outlines vital information of dataset:

Netflix is streaming both old and latest released movies and TV Shows
Oldest Movie was released in the Year 1954 whereas oldest TV show was released in the year 1969
Latest Movie and TV show steaming on Netflix were both released in the Year 2022
IMDB_SCORE ranges from 6.5 to 9.5 for both Movies and TV shows
One particular movie has gained a skyscrapper votes of more than 20 lakhs
One particular TV show made a splash with more than 17 lakhs votes
Maximum time duration for a Movie and a TV show are 229 and 141 minutes respectively
Particular TV show has released 21 season which depicts its huge acceptence across the world
"""

Barplots illustrates that:  
Top Movies and TV shows are largely produced by United States  
India is the second contributor in producing top highly rated movies followed by Great Britain  
TV shows produced by Great Britain and Japan are almost same but are far behind than US  
US turned out to be the great player in an Entertainment Industry

In [ ]:
numerical_cols = raw_credits_df.select_dtypes(include=['float', 'int']).columns.tolist()
categorical_cols = raw_credits_df.select_dtypes(include=['string', 'object']).columns.tolist()
numerical_cols, categorical_cols

In [ ]:
""" Plotting categorical Columns, first 10 values only."""
plt.figure(figsize=(15, 5 * len(categorical_cols)))
for i, col in enumerate(categorical_cols, 1):
    plt.subplot(len(categorical_cols), 1, i)
    sns.countplot(data=raw_credits_df, y=col, order=raw_credits_df[col].value_counts().index[:10])
    plt.title(f'Distribution of {col}')
    plt.xlabel('Count')
    plt.ylabel(col)

plt.tight_layout()
plt.show()

In [ ]:
duplicate_titles = raw_credits_df[['person_id','id']].duplicated(keep=False)
raw_credits_df[duplicate_titles]

In [ ]:
# First, let's split the 'genres' column into a list of genres
exploded_df = raw_titles_df.copy()
exploded_df['genres'] = exploded_df['genres'].str.split(', ')
exploded_df = exploded_df.explode('genres')

# Now, we can group by individual genre and calculate the mean for 'imdb_score' and 'imdb_votes'
score_genre = exploded_df.groupby('genres')[['imdb_score','imdb_votes']].mean().reset_index()

# Sort by 'imdb_votes' in descending order
score_genre_sorted = score_genre.sort_values(by=['imdb_votes'], ascending = False)
# score_genre_sorted = score_genre.sort_values(by=['imdb_score'], ascending = False)
score_genre_sorted.head()

In [ ]:
"""
  Here are the top 5 genres based on the average number of IMDb votes:

  Western: Avg IMDb Score = 6.60, Avg IMDb Votes = 96,100
  War: Avg IMDb Score = 7.08, Avg IMDb Votes = 53,060
  Sci-Fi: Avg IMDb Score = 6.58, Avg IMDb Votes = 46,177
  Thriller: Avg IMDb Score = 6.37, Avg IMDb Votes = 45,487
  Horror: Avg IMDb Score = 6.03, Avg IMDb Votes = 43,547
"""

In [ ]:
# Create a barplot for genres by IMDb score
sns.barplot(x='imdb_score', y='genres', data=score_genre_sorted, palette='viridis')
plt.title('Average IMDb Score by Genre', fontsize=16)
plt.xlabel('Average IMDb Score', fontsize=14)
plt.ylabel('Genre', fontsize=14)
plt.show()

In [ ]:
# Set up the matplotlib figure for the second plot
plt.figure(figsize=(15, 8))
sns.barplot(x='imdb_votes', y='genres', data=score_genre_sorted, palette='viridis')
plt.title('Average IMDb Votes by Genre', fontsize=16)
plt.xlabel('Average IMDb Votes', fontsize=14)
plt.ylabel('Genre', fontsize=14)
plt.show()

# Normalization

In [ ]:
def factorize_id(df: pd.DataFrame, *args, id_field: str) -> pd.DataFrame:
    """
    Create a unique serialized integer value for each unique combination of
    specified columns using factorize.

    Args:
        df (pd.DataFrame): Input dataframe.
        *args: Columns to be used for unique combinations.
        id_field (str): Name of the new ID field.

    Returns:
        pd.DataFrame: DataFrame with a new ID field.
    """

    combined = df[list(args)].astype(str).agg("_".join, axis=1)

    df[id_field] = pd.factorize(combined)[0]+1

    return df

In [ ]:
titles_df = raw_titles_df[['id', 'title', 'release_year', 'age_certification', 'runtime', 'imdb_id', 'imdb_score', 'imdb_votes']]

title_type_df = raw_titles_df[['id', 'type']].copy()
title_type_df = factorize_id(title_type_df, 'type', id_field='type_id')


title_genres_df = raw_titles_df[['id', 'genres']].copy()
title_genres_df['genres'] = title_genres_df['genres'].str.split(", ")
title_genres_df = title_genres_df.explode('genres')
title_genres_df = factorize_id(title_genres_df, 'genres', id_field='genre_id')
title_genres_df = title_genres_df.rename(columns={'genres': 'genre'})


title_production_countries_df = raw_titles_df[['id', 'production_countries']].copy()
title_production_countries_df['production_countries'] = title_production_countries_df['production_countries'].str.split(", ")
title_production_countries_df = title_production_countries_df.explode('production_countries')
title_production_countries_df = factorize_id(title_production_countries_df, 'production_countries', id_field='production_id')
title_production_countries_df = title_production_countries_df.rename(columns={'production_countries': 'country'})

In [ ]:
# Create titles Table
titles_df = raw_titles_df[['id', 'title', 'release_year', 'age_certification', 'runtime', 'imdb_id', 'imdb_score', 'imdb_votes']]
# titles_df = titles_df.rename(columns={'id': 'id'})

# Create title Type Table
title_type_df = raw_titles_df[['id', 'type']].copy()
# title_type_df['type_id'] = title_type_df.index + 1  # Assigning a unique ID for each type entry
title_type_df = factorize_id(title_type_df, 'type', id_field='type_id')
# title_type_df = title_type_df.rename(columns={'id': 'id'})

# Create title Genres Table
title_genres_df = raw_titles_df[['id', 'genres']].copy()
# title_genres_df['genres'] = title_genres_df['genres'].str.strip("[]").str.replace("'", "").str.split(", ")
title_genres_df['genres'] = title_genres_df['genres'].str.split(", ")
title_genres_df = title_genres_df.explode('genres')
# title_genres_df['genre_id'] = title_genres_df.index + 1  # Assigning a unique ID for each genre entry
title_genres_df = factorize_id(title_genres_df, 'genres', id_field='genre_id')
title_genres_df = title_genres_df.rename(columns={'genres': 'genre'})
# title_genres_df = title_genres_df.rename(columns={'genres': 'genre'})

# Create title Production Countries Table
title_production_countries_df = raw_titles_df[['id', 'production_countries']].copy()
# title_production_countries_df['production_countries'] = title_production_countries_df['production_countries'].str.strip("[]").str.replace("'", "").str.split(", ")
title_production_countries_df['production_countries'] = title_production_countries_df['production_countries'].str.split(", ")
title_production_countries_df = title_production_countries_df.explode('production_countries')
title_production_countries_df = factorize_id(title_production_countries_df, 'production_countries', id_field='production_id')
# title_production_countries_df['production_id'] = title_production_countries_df.index + 1  # Assigning a unique ID for each production country entry
title_production_countries_df = title_production_countries_df.rename(columns={'production_countries': 'country'})

In [ ]:
raw_credits_df

In [ ]:
# Create ID
raw_credits_df = factorize_id(raw_credits_df, 'name', id_field='person_id')

# Create the persons table
credits_persons_df = raw_credits_df[['person_id', 'name']].drop_duplicates().reset_index(drop=True)

# Create the credits table
credits_df = raw_credits_df.copy()
credits_df.drop(columns=['name'], inplace=True)

credits_df['credit_id'] = credits_df.index + 1
credits_df = credits_df[['credit_id', 'id', 'person_id', 'character', 'role']]

In [ ]:
"""
Saving original
# Create titles Table
titles_df = raw_titles_df[['id', 'title', 'release_year', 'age_certification', 'runtime', 'imdb_id', 'imdb_score', 'imdb_votes']]
titles_df = titles_df.rename(columns={'id': 'id'})

# Create title Type Table
title_type_df = raw_titles_df[['id', 'type']].copy()
title_type_df['type_id'] = title_type_df.index + 1  # Assigning a unique ID for each type entry
title_type_df = title_type_df.rename(columns={'id': 'id'})

# Create title Genres Table
title_genres_df = raw_titles_df[['id', 'genres']].copy()
title_genres_df['genres'] = title_genres_df['genres'].str.strip("[]").str.replace("'", "").str.split(", ")
title_genres_df = title_genres_df.explode('genres')
title_genres_df['genre_id'] = title_genres_df.index + 1  # Assigning a unique ID for each genre entry
title_genres_df = title_genres_df.rename(columns={'id': 'id', 'genres': 'genre'})

# Create title Production Countries Table
title_production_countries_df = raw_titles_df[['id', 'production_countries']].copy()
title_production_countries_df['production_countries'] = title_production_countries_df['production_countries'].str.strip("[]").str.replace("'", "").str.split(", ")
title_production_countries_df = title_production_countries_df.explode('production_countries')
title_production_countries_df['production_id'] = title_production_countries_df.index + 1  # Assigning a unique ID for each production country entry
title_production_countries_df = title_production_countries_df.rename(columns={'id': 'id', 'production_countries': 'country'})

# Write out the normalized tables to CSV
output_dir = "/mnt/data/normalized_tables"
os.makedirs(output_dir, exist_ok=True)

titles_df.to_csv(os.path.join(output_dir, 'titles.csv'), index=False)
title_type_df.to_csv(os.path.join(output_dir, 'title_type.csv'), index=False)
title_genres_df.to_csv(os.path.join(output_dir, 'title_genres.csv'), index=False)
title_production_countries_df.to_csv(os.path.join(output_dir, 'title_production_countries.csv'), index=False)

output_dir
"""

# Data Enrichment

In [ ]:
best_movie_by_year_df = lowercase_column_names(pd.read_csv(os.path.join(directory, 'Best Movie by Year Netflix.csv'), index_col = "index"))
best_movies_df = lowercase_column_names(pd.read_csv(os.path.join(directory, 'Best Movies Netflix.csv'), index_col = "index"))
best_shows_df = lowercase_column_names(pd.read_csv(os.path.join(directory, 'Best Shows Netflix.csv'), index_col = "index"))
best_show_by_year_df = lowercase_column_names(pd.read_csv(os.path.join(directory, 'Best Show by Year Netflix.csv'), index_col = "index"))

# best_movie_by_year_df = pd.read_csv(os.path.join(directory, 'Best Movie by Year Netflix.csv'), index_col = "index")
# best_movies_df = pd.read_csv(os.path.join(directory, 'Best Movies Netflix.csv'), index_col = "index")
# best_shows_df = pd.read_csv(os.path.join(directory, 'Best Shows Netflix.csv'), index_col = "index")
# best_show_by_year_df = pd.read_csv(os.path.join(directory, 'Best Show by Year Netflix.csv'), index_col = "index")

# Converting column names to lower case
# best_movie_by_year_df.columns = [c.lower() for c in best_movie_by_year_df.columns]
# best_movies_df.columns = [c.lower() for c in best_movies_df.columns]
# best_shows_df.columns = [c.lower() for c in best_shows_df.columns]
# best_show_by_year_df.columns = [c.lower() for c in best_show_by_year_df.columns]

In [ ]:
# Merge this dataset with the titles_df based on title and release year
best_movie_by_year_merged = pd.merge(titles_df, best_movie_by_year_df, how='inner', left_on=['title', 'release_year'], right_on=['title', 'release_year'])
best_movies_merged = pd.merge(titles_df, best_movies_df, how='inner', left_on=['title', 'release_year'], right_on=['title', 'release_year'])
best_show_by_year_merged = pd.merge(titles_df, best_show_by_year_df, how='inner', left_on=['title', 'release_year'], right_on=['title', 'release_year'])
best_shows_merged = pd.merge(titles_df, best_shows_df, how='inner', left_on=['title', 'release_year'], right_on=['title', 'release_year'])

In [ ]:
print(best_movie_by_year_merged['title'].count() == best_movie_by_year_df['title'].count())
print(best_movies_merged['title'].count() == best_movies_df['title'].count())
print(best_show_by_year_merged['title'].count() == best_show_by_year_df['title'].count())
print(best_shows_merged['title'].count() == best_shows_df['title'].count(), "\nDifference between: ", best_shows_merged['title'].count() - best_shows_df['title'].count())

# 2. Create Additional Tables/Flags:

In [ ]:
"""For each of the merged datasets (best_movie_by_year_merged, best_movies_merged, best_show_by_year_merged, and best_shows_merged), we'll create a flag in the titles_df dataframe. If a title is present in one of these datasets, its corresponding flag will be set to 1; otherwise, it will be 0.
We'll create the following flags:
is_best_movie_by_year
is_best_movie
is_best_show_by_year
is_best_show"""

In [ ]:
# Initialize flags in titles_df
titles_df['is_best_movie_by_year'] = 0
titles_df['is_best_movie'] = 0
titles_df['is_best_show_by_year'] = 0
titles_df['is_best_show'] = 0

# Set the flags based on the presence of id in the merged datasets
titles_df.loc[titles_df['id'].isin(best_movie_by_year_merged['id']), 'is_best_movie_by_year'] = 1
titles_df.loc[titles_df['id'].isin(best_movies_merged['id']), 'is_best_movie'] = 1
titles_df.loc[titles_df['id'].isin(best_show_by_year_merged['id']), 'is_best_show_by_year'] = 1
titles_df.loc[titles_df['id'].isin(best_shows_merged['id']), 'is_best_show'] = 1

# Display the titles_df with the new flags
titles_df.head()

# Data Consistency Checks

"""Identify Unmatched titles:
For each "best" dataset, find titles that didn't find a match in the primary dataset (titles_df).
Flag Discrepancies:
Add a column in each "best" dataset to indicate if the title was matched in the primary dataset or not.
Review & Address Discrepancies:
List out the unmatched titles for further review."""

In [ ]:
# Initialize dictionaries to store unmatched titles for each "best" dataset
unmatched_titles = {
    'best_movie_by_year': [],
    'best_movies': [],
    'best_show_by_year': [],
    'best_shows': []
}

# Identify Unmatched titles for "Best Movie by Year Netflix.csv"
unmatched_titles['best_movie_by_year'] = best_movie_by_year_df.loc[~best_movie_by_year_df['title'].isin(best_movie_by_year_merged['title']), 'title'].tolist()
unmatched_titles['best_movies'] = best_movies_df.loc[~best_movies_df['title'].isin(best_movies_merged['title']), 'title'].tolist()
unmatched_titles['best_show_by_year'] = best_show_by_year_df.loc[~best_show_by_year_df['title'].isin(best_show_by_year_merged['title']), 'title'].tolist()
unmatched_titles['best_shows'] = best_shows_df.loc[~best_shows_df['title'].isin(best_shows_merged['title']), 'title'].tolist()

unmatched_titles

In [ ]:
# REPEAT! 
# Re-load the necessary datasets for consistency checks
best_movie_by_year_df = pd.read_csv(os.path.join(directory, 'Best Movie by Year Netflix.csv'))
best_movies_df = pd.read_csv(os.path.join(directory, 'Best Movies Netflix.csv'))
best_show_by_year_df = pd.read_csv(os.path.join(directory, 'Best Show by Year Netflix.csv'))
best_shows_df = pd.read_csv(os.path.join(directory, 'Best Shows Netflix.csv'))

# Re-merge the datasets
best_movie_by_year_merged = pd.merge(titles_df, best_movie_by_year_df, how='inner', left_on=['title', 'release_year'], right_on=['title', 'release_year'])
best_movies_merged = pd.merge(titles_df, best_movies_df, how='inner', left_on='title', right_on='title')
best_show_by_year_merged = pd.merge(titles_df, best_show_by_year_df, how='inner', left_on=['title', 'release_year'], right_on=['title', 'release_year'])
best_shows_merged = pd.merge(titles_df, best_shows_df, how='inner', left_on='title', right_on='title')

# Initialize dictionaries to store unmatched titles for each "best" dataset
unmatched_titles = {
    'best_movie_by_year': [],
    'best_movies': [],
    'best_show_by_year': [],
    'best_shows': []
}

# Find unmatched titles
unmatched_titles['best_movie_by_year'] = best_movie_by_year_df.loc[~best_movie_by_year_df['title'].isin(best_movie_by_year_merged['title']), 'title'].tolist()
unmatched_titles['best_movies'] = best_movies_df.loc[~best_movies_df['title'].isin(best_movies_merged['title']), 'title'].tolist()
unmatched_titles['best_show_by_year'] = best_show_by_year_df.loc[~best_show_by_year_df['title'].isin(best_show_by_year_merged['title']), 'title'].tolist()
unmatched_titles['best_shows'] = best_shows_df.loc[~best_shows_df['title'].isin(best_shows_merged['title']), 'title'].tolist()

unmatched_titles

Great news! The consistency checks have been completed successfully, and it appears that all titles in the "best" datasets have been matched with the titles in the primary dataset (titles_df). There are no unmatched titles.

This means that the titles in the "best" datasets are consistent with the primary dataset, ensuring data integrity.

Would you like to proceed with any other tasks or actions related to these datasets?

In [ ]:
# Check if all ids in credits_df are present in titles_df
missing_ids = set(credits_df['id']) - set(titles_df['id'])
if missing_ids:
    print(f"Missing ids: {missing_ids}")

In [ ]:
index_to_drop_titles = titles_df[titles_df['id'] == missing_ids].index
titles_df.drop(index_to_drop_titles, inplace=True)
index_to_drop_credits = credits_df[credits_df['id'] == missing_ids].index
credits_df.drop(index_to_drop_credits, inplace=True)

# Save data

In [ ]:
# Write out the normalized and enriched tables to CSV
output_dir = "normalized_tables/"
os.makedirs(output_dir, exist_ok=True)

titles_df.to_csv(os.path.join(output_dir, 'titles.csv'), index=False)
title_type_df.to_csv(os.path.join(output_dir, 'title_type.csv'), index=False)
title_genres_df.to_csv(os.path.join(output_dir, 'title_genres.csv'), index=False)
title_production_countries_df.to_csv(os.path.join(output_dir, 'title_production_countries.csv'), index=False)

credits_df.to_csv(os.path.join(output_dir, 'credits.csv'), index=False)
credits_persons_df.to_csv(os.path.join(output_dir, 'credits_persons.csv'), index=False)

output_dir

In [ ]:
# Reading data
output_dir = "normalized_tables/"
os.makedirs(output_dir, exist_ok=True)

titles_df = pd.read_csv(os.path.join(output_dir, 'titles.csv'))
title_type_df = pd.read_csv(os.path.join(output_dir, 'title_type.csv'))
title_genres_df = pd.read_csv(os.path.join(output_dir, 'title_genres.csv')) 
title_production_countries_df = pd.read_csv(os.path.join(output_dir, 'title_production_countries.csv'))
credits_df = pd.read_csv(os.path.join(output_dir, 'credits.csv'))
credits_persons_df = pd.read_csv(os.path.join(output_dir, 'credits_persons.csv'))

# Database Setup

In [ ]:
from sqlalchemy import Column, Integer, String, Float, ForeignKey, Boolean, create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

Base = declarative_base()

In [ ]:
"""Connection detail for MySQL server."""
username = "root"
password = "Abrikosas*175*"
host = "localhost"
port = "3306"
database = "netflix_movies"
# hostname = 127.0.0.1

In [ ]:
"""Imported connection data used to connect to MySQL without. 
Then creating a database 'books' and renewing engine to include database."""
engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/")

with engine.connect() as conn:
    conn.execute(text(f"CREATE DATABASE IF NOT EXISTS {database}"))
conn.close()

engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}")

In [ ]:
# df_col_max_lengths(titles_df)
df_col_max_lengths(title_type_df)
# df_col_max_lengths(title_genres_df)
# df_col_max_lengths(title_production_countries_df)
# df_col_max_lengths(credits_df)
# df_col_max_lengths(credits_persons_df)

In [ ]:
# titles_df[titles_df['id']=='tm19608']
credits_df[credits_df['id']=='tm19608']

In [ ]:
title_type_df.head(5)

In [ ]:
db_tables = []

"""Decorator to track MySQL DB tables creation"""
def track_tables(func):
    def wrapper(*args, **kwargs):
        result = func(*args, **kwargs)
        table_name = getattr(result, 'table_name', func.__tablename__)
        
        # Check if table_name is already in db_tables and add if not. 
        if table_name not in db_tables:
            db_tables.append(table_name)
        
        return result
    return wrapper

In [ ]:
# Trials and errors
"""Create SQLAlchemy classes representing MySQL database tables."""
from sqlalchemy import Column, Integer, String, Float, Boolean, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import PrimaryKeyConstraint
from sqlalchemy import create_engine, text

Base = declarative_base()

@track_tables
class Titles(Base):
    __tablename__ = 'titles'
    
    id = Column(String(20), primary_key=True)
    title = Column(String(300), nullable=False)
    release_year = Column(Integer)
    age_certification = Column(String(10))
    runtime = Column(Integer)
    imdb_id = Column(String(20))
    imdb_score = Column(Float)
    imdb_votes = Column(Integer)
    is_best_movie_by_year = Column(Boolean)
    is_best_movie = Column(Boolean)
    is_best_show_by_year = Column(Boolean)
    is_best_show = Column(Boolean)

    title_type = relationship("TitleType", uselist=False, back_populates="titles")
    title_genres = relationship("TitleGenres", back_populates="titles")
    title_production_countries = relationship("TitleProductionCountries", back_populates="titles")
    # credits = relationship("Credits", back_populates="titles")

@track_tables
class TitleType(Base):
    __tablename__ = 'title_type'
    
    type_id = Column(Integer, autoincrement=True)
    id = Column(String(20), ForeignKey('titles.id'))
    type = Column(String(50))
    
    __table_args__ = (
        PrimaryKeyConstraint('type_id', 'id'),
    )

    titles = relationship("Titles", back_populates="title_type")

@track_tables
class TitleGenres(Base):
    __tablename__ = 'title_genres'
    
    genre_id = Column(Integer, autoincrement=True)
    id = Column(String(20), ForeignKey('titles.id'))
    genre = Column(String(50))
    
    __table_args__ = (
        PrimaryKeyConstraint('genre_id', 'id'),
    )
    
    titles = relationship("Titles", back_populates="title_genres")

@track_tables
class TitleProductionCountries(Base):
    __tablename__ = 'title_production_countries'
    
    production_id = Column(Integer, autoincrement=True)
    id = Column(String(20), ForeignKey('titles.id'))
    country = Column(String(50))
    
    __table_args__ = (
        PrimaryKeyConstraint('production_id', 'id'),
    )
    
    titles = relationship("Titles", back_populates="title_production_countries")

@track_tables
class Persons(Base):
    __tablename__ = 'persons'
    
    person_id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(300), nullable=False)
    
    credits = relationship("Credits", back_populates="persons")

@track_tables
class Credits(Base):
    __tablename__ = 'credits'
    
    credit_id = Column(Integer, primary_key=True, autoincrement=True)
    # credit_id = Column(Integer)#, primary_key=True, autoincrement=True)
    # id = Column(String(20), ForeignKey('titles.id'))
    id = Column(String(20))#, ForeignKey('titles.id'))
    person_id = Column(Integer, ForeignKey('persons.person_id'))
    character = Column(String(300))
    role = Column(String(50))
    
    __table_args__ = (
        PrimaryKeyConstraint('credit_id', 'id'),
    )
    
    # titles = relationship("Titles", back_populates="credits")
    persons = relationship("Persons", back_populates="credits")

In [269]:
# Trials and errors
"""Create SQLAlchemy classes representing MySQL database tables."""
from sqlalchemy import Column, Integer, String, Float, Boolean, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import PrimaryKeyConstraint
from sqlalchemy import create_engine, text

Base = declarative_base()

@track_tables
class Titles(Base):
    __tablename__ = 'titles'
    
    id = Column(String(20), primary_key=True)
    title = Column(String(300), nullable=False)
    release_year = Column(Integer)
    age_certification = Column(String(10))
    runtime = Column(Integer)
    imdb_id = Column(String(20))
    imdb_score = Column(Float)
    imdb_votes = Column(Integer)
    is_best_movie_by_year = Column(Boolean)
    is_best_movie = Column(Boolean)
    is_best_show_by_year = Column(Boolean)
    is_best_show = Column(Boolean)

    title_type = relationship("TitleType", uselist=False, back_populates="titles")
    title_genres = relationship("TitleGenres", back_populates="titles")
    title_production_countries = relationship("TitleProductionCountries", back_populates="titles")
    credits = relationship("Credits", back_populates="titles")

@track_tables
class TitleType(Base):
    __tablename__ = 'title_type'
    
    type_id = Column(Integer, autoincrement=True)
    id = Column(String(20), ForeignKey('titles.id'))
    type = Column(String(50))
    
    __table_args__ = (
        PrimaryKeyConstraint('type_id', 'id'),
    )

    titles = relationship("Titles", back_populates="title_type")

@track_tables
class TitleGenres(Base):
    __tablename__ = 'title_genres'
    
    genre_id = Column(Integer, autoincrement=True)
    id = Column(String(20), ForeignKey('titles.id'))
    genre = Column(String(50))
    
    __table_args__ = (
        PrimaryKeyConstraint('genre_id', 'id'),
    )
    
    titles = relationship("Titles", back_populates="title_genres")

@track_tables
class TitleProductionCountries(Base):
    __tablename__ = 'title_production_countries'
    
    production_id = Column(Integer, autoincrement=True)
    id = Column(String(20), ForeignKey('titles.id'))
    country = Column(String(50))
    
    __table_args__ = (
        PrimaryKeyConstraint('production_id', 'id'),
    )
    
    titles = relationship("Titles", back_populates="title_production_countries")

@track_tables
class Persons(Base):
    __tablename__ = 'persons'
    
    person_id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(300), nullable=False)
    
    credits = relationship("Credits", back_populates="persons")

@track_tables
class Credits(Base):
    __tablename__ = 'credits'
    
    credit_id = Column(Integer, primary_key=True, autoincrement=True)
    # credit_id = Column(Integer)#, primary_key=True, autoincrement=True)
    id = Column(String(20), ForeignKey('titles.id'))
    # id = Column(String(20))#, ForeignKey('titles.id'))
    person_id = Column(Integer, ForeignKey('persons.person_id'))
    character = Column(String(300))
    role = Column(String(50))
    
    # __table_args__ = (
    #     PrimaryKeyConstraint('credit_id', 'id'),
    # )
    
    titles = relationship("Titles", back_populates="credits")
    persons = relationship("Persons", back_populates="credits")

/var/folders/_t/81hplzs570d_45ldwbxvmx4w0000gp/T/ipykernel_10321/3424531009.py:9: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [257]:
"""Create all tables in MySQL database."""
Base.metadata.create_all(engine)

In [268]:
Base.metadata.clear()

In [258]:
"""Create the dfs_list that contains all dataframes, then table_names list that contain respective table names in MySQL database."""
db_tables = []
t1 = Titles()
t2 = TitleType()
t3 = TitleGenres()
t4 = TitleProductionCountries()
t5 = Persons()
t6 = Credits()
db_tables

['titles',
 'title_type',
 'title_genres',
 'title_production_countries',
 'persons',
 'credits']

In [259]:
# db_tables = [
#  'titles',
#  'title_type',
#  'title_genres',
#  'title_production_countries',
#  'persons',
#  'credits'
#  ]

dfs_list = [
    titles_df, title_type_df, 
    title_genres_df, title_production_countries_df,
    credits_persons_df, credits_df
]

In [260]:
# Turn off foreign key checks
with engine.connect() as conn:
    conn.execute(text("SET FOREIGN_KEY_CHECKS=0"))

In [261]:
"""Upload all the data from the dataframes to MySQL database tables."""
for df, db_table in zip(dfs_list, db_tables):
    print(f"Inserting into table: {db_table}")
    df.to_sql(
        name=db_table,
        con=engine,
        if_exists='append',
        index=False
    )
    
print("Upload complete.")

Inserting into table: titles
Inserting into table: title_type
Inserting into table: title_genres
Inserting into table: title_production_countries
Inserting into table: persons
Inserting into table: credits
Upload complete.

In [262]:
# Turn foreign key checks back on
with engine.connect() as conn:
    conn.execute(text("SET FOREIGN_KEY_CHECKS=1"))

In [ ]:
df_to_send = credits_df
table_name_to_ingest = 'credits'

df_to_send.to_sql(
        name=table_name_to_ingest,
        con=engine,
        if_exists='append',
        index=False
    )

In [265]:
from sqlalchemy import create_engine, text

class DatabaseLoader:
    def __init__(self, username, password, host, port):
        # self.engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}")
        self.engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/")
        
    # def create_database(self, database):
    #     with self.engine.connect() as conn:
    #         conn.execute(text(f"CREATE DATABASE IF NOT EXISTS {database}"))
    #     conn.close()
    #     self.engine = self.engine + database
    
    def create_database(self, database):
        with self.engine.connect() as conn:
            conn.execute(text(f"CREATE DATABASE IF NOT EXISTS {database}"))
        
        # Update the engine to use the new database
        self.engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}")
    
    def create_all(self):
        #Create all tables in MySQL database.
        Base.metadata.create_all(self.engine)
    
    def send_data(self, df, db_table):
        """Sends a DataFrame to a specific table in the MySQL database."""
        df.to_sql(
            name=db_table,
            con=self.engine,
            if_exists='append',
            index=False
        )
        
    def turn_off_fk_check(self):
        """Turns off foreign key checks in the MySQL database."""
        with self.engine.connect() as conn:
            conn.execute(text("SET FOREIGN_KEY_CHECKS=0"))
    
    def turn_on_fk_check(self):
        """Turns on foreign key checks in the MySQL database."""
        with self.engine.connect() as conn:
            conn.execute(text("SET FOREIGN_KEY_CHECKS=1"))

In [270]:
db_loader = DatabaseLoader(username, password, host, port)
db_loader.create_database(database)
db_loader.create_all()

In [271]:
db_loader.turn_off_fk_check()

"""Upload all the data from the dataframes to MySQL database tables."""
for df, db_table in zip(dfs_list, db_tables):
    print(f"Inserting into table: {db_table}")
    db_loader.send_data(df, db_table)
    
print("Upload complete.")    

# Turn on foreign key checks
db_loader.turn_on_fk_check()

Inserting into table: titles
Inserting into table: title_type
Inserting into table: title_genres
Inserting into table: title_production_countries
Inserting into table: persons
Inserting into table: credits
Upload complete.

In [ ]:

# Send data to tables
# db_loader.send_data(titles_df, 'titles')
# db_loader.send_data(title_type_df, 'title_type')
# db_loader.send_data(title_genres_df, 'title_genres')
# db_loader.send_data(title_production_countries_df, 'title_production_countries')
# db_loader.send_data(persons_df, 'persons')
# db_loader.send_data(credits_df, 'credits')

In [ ]:
# titles_df.head(5)
# title_type_df.head(5)
# title_genres_df.head(5)
# title_production_countries_df.head(5)
# credits_persons_df.head(5)
credits_df.head(5)

In [ ]:
# df_col_max_lengths(titles_df)
# df_col_max_lengths(title_type_df)
# df_col_max_lengths(title_genres_df)
# df_col_max_lengths(title_production_countries_df)
# df_col_max_lengths(credits_df)
df_col_max_lengths(credits_persons_df)

In [ ]:
Base.metadata.clear()

In [ ]:
@track_tables
class Persons(Base):
    __tablename__ = 'persons'
    
    person_id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(300), nullable=False)
    
    # credits = relationship("Credits", back_populates="persons")

In [ ]:
df_to_send = credits_persons_df
table_name_to_ingest = 'persons'

df_to_send.to_sql(
        name=table_name_to_ingest,
        con=engine,
        if_exists='append',
        index=False
    )

In [ ]:
credits_df.head(5)

In [ ]:
@track_tables
class Credits(Base):
    __tablename__ = 'credits'
    
    credit_id = Column(Integer, primary_key=True, autoincrement=True)
    id = Column(String(20))#, ForeignKey('titles.id'))
    person_id = Column(Integer)#, ForeignKey('persons.person_id'))
    character = Column(String(300))
    role = Column(String(50))
    
    # titles = relationship("Titles", back_populates="credits")
    # persons = relationship("Persons", back_populates="credits")

In [ ]:
"""Create all tables in MySQL database."""
Base.metadata.create_all(engine)

In [ ]:
df_to_send = credits_df
table_name_to_ingest = 'credits'

df_to_send.to_sql(
        name=table_name_to_ingest,
        con=engine,
        if_exists='append',
        index=False
    )

In [ ]:
from sqlalchemy import PrimaryKeyConstraint
@track_tables
class TitleProductionCountries(Base):
    __tablename__ = 'title_production_countries'
    
    production_id = Column(Integer, autoincrement=True)
    id = Column(String(20))#, ForeignKey('titles.id'))
    country = Column(String(50))
    
    __table_args__ = (
        PrimaryKeyConstraint('production_id', 'id'),
    )
    
    # titles = relationship("Titles", back_populates="title_production_countries")

In [ ]:
"""Create all tables in MySQL database."""
Base.metadata.create_all(engine)

In [ ]:
Base.metadata.clear()

In [ ]:
df_to_send = title_production_countries_df
table_name_to_ingest = 'title_production_countries'

df_to_send.to_sql(
        name=table_name_to_ingest,
        con=engine,
        if_exists='append',
        index=False
    )

In [ ]:
class TitleGenres(Base):
    __tablename__ = 'title_genres'
    
    genre_id = Column(Integer, autoincrement=True)
    id = Column(String(20))#, ForeignKey('titles.id'))
    genre = Column(String(50))
    
    __table_args__ = (
        PrimaryKeyConstraint('genre_id', 'id'),
    )
    
    # titles = relationship("Titles", back_populates="title_genres")

In [ ]:
"""Create all tables in MySQL database."""
Base.metadata.create_all(engine)

In [ ]:
Base.metadata.clear()

In [ ]:
df_to_send = title_genres_df
table_name_to_ingest = 'title_genres'

df_to_send.to_sql(
        name=table_name_to_ingest,
        con=engine,
        if_exists='append',
        index=False
    )

In [ ]:
class TitleType(Base):
    __tablename__ = 'title_type'
    
    type_id = Column(Integer, autoincrement=True)
    id = Column(String(20))#, ForeignKey('titles.id'))
    type = Column(String(50))
    
    __table_args__ = (
        PrimaryKeyConstraint('type_id', 'id'),
    )

    # titles = relationship("Titles", back_populates="title_type")

In [ ]:
class TitleType(Base):
    __tablename__ = 'title_type'
    
    type_id = Column(Integer, autoincrement=True)
    id = Column(String(20), ForeignKey('titles.id'))
    type = Column(String(50))
    
    __table_args__ = (
        PrimaryKeyConstraint('type_id', 'id'),
    )

    titles = relationship("Titles", back_populates="title_type")

In [ ]:
"""Create all tables in MySQL database."""
Base.metadata.create_all(engine)

In [ ]:
Base.metadata.clear()

In [ ]:
df_to_send = title_type_df
table_name_to_ingest = 'title_type'

df_to_send.to_sql(
        name=table_name_to_ingest,
        con=engine,
        if_exists='append',
        index=False
    )

In [ ]:
@track_tables
class Titles(Base):
    __tablename__ = 'titles'
    
    id = Column(String(20), primary_key=True)
    title = Column(String(300), nullable=False)
    release_year = Column(Integer)
    age_certification = Column(String(10))
    runtime = Column(Integer)
    imdb_id = Column(String(20))
    imdb_score = Column(Float)
    imdb_votes = Column(Integer)
    is_best_movie_by_year = Column(Boolean)
    is_best_movie = Column(Boolean)
    is_best_show_by_year = Column(Boolean)
    is_best_show = Column(Boolean)

    title_type = relationship("TitleType", uselist=False, back_populates="titles")
    # title_genres = relationship("TitleGenres", back_populates="titles")
    # title_production_countries = relationship("TitleProductionCountries", back_populates="titles")
    # credits = relationship("Credits", back_populates="titles")

In [ ]:
t1 = Titles()

In [ ]:
print(db_tables)

In [ ]:
"""Create all tables in MySQL database."""
Base.metadata.create_all(engine)

In [ ]:
Base.metadata.clear()

In [ ]:
df_to_send = titles_df
table_name_to_ingest = 'titles'

df_to_send.to_sql(
        name=table_name_to_ingest,
        con=engine,
        if_exists='append',
        index=False
    )

In [ ]:
titles_df.isnull().sum()

In [ ]:
# Try:
# Suppose 'some_title' is an object of the Titles class
# genres_for_title = some_title.title_genres  # Gives you all genres for this title
type_for_title = 'Ride or Die'.title_type  # Gives you the type of this title
# countries_for_title = some_title.title_production_countries  # Gives you all countries for this title

In [ ]:
df_to_send = credits_persons_df
table_name_to_ingest = 'persons'

df_to_send.to_sql(
        name=table_name_to_ingest,
        con=engine,
        if_exists='append',
        index=False
    )

In [ ]:
"""Check what 'create_all' would create in the 'books' table"""
print(CreateTable(Book.__table__).compile(engine))

In [ ]:
# Create the tables
Base.metadata.create_all(engine)

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
import pandas as pd

# Initialize the database engine
engine = create_engine("mysql://username:password@localhost/db_name")

# Create a Session object to handle the ORM operations
session = Session(engine)

# Read the CSV file into a DataFrame
titles_df = pd.read_csv('path/to/titles.csv')

# Iterate through the DataFrame and add each record to the Titles table
for index, row in titles_df.iterrows():
    title_record = Titles(
        title=row['title'],
        release_year=row['release_year'],
        age_certification=row['age_certification'],
        runtime=row['runtime'],
        imdb_id=row['imdb_id'],
        imdb_score=row['imdb_score'],
        imdb_votes=row['imdb_votes'],
        is_best_movie_by_year=row['is_best_movie_by_year'],
        is_best_movie=row['is_best_movie'],
        is_best_show_by_year=row['is_best_show_by_year'],
        is_best_show=row['is_best_show']
    )
    session.add(title_record)

# Commit the transaction
session.commit()

# Analysis & Insights:
Yearly Trend of Best Movies and Shows:  
Visualize the number of best movies and shows released each year.  
Distribution of IMDb Scores:  
Check the distribution of IMDb scores for best movies and best shows.  
Compare the IMDb scores of the best movies and shows with the overall catalog.  
Runtime Analysis:  
Analyze the runtime distribution of best movies and shows. Are longer movies or shorter shows preferred?  
Age Certification Analysis:  
Analyze the distribution of age certifications for best movies and shows.  
Release Year Distribution:  
Visualize the distribution of release years for best movies and shows. This can show if newer content or older classics dominate the "best" lists.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Set style
sns.set_style("whitegrid")

# Plot yearly trend for best movies and shows
fig, ax = plt.subplots(2, 1, figsize=(15, 12))

# Best Movies by Year
sns.countplot(data=best_movie_by_year_merged, x="release_year", ax=ax[0], color='blue', order=best_movie_by_year_merged['release_year'].value_counts().index)
ax[0].set_title("Yearly Trend of Best Movies on Netflix")
ax[0].set_xlabel("Release Year")
ax[0].set_ylabel("Number of Best Movies")
ax[0].tick_params(axis='x', rotation=45)

# Best Shows by Year
sns.countplot(data=best_show_by_year_merged, x="release_year", ax=ax[1], color='green', order=best_show_by_year_merged['release_year'].value_counts().index)
ax[1].set_title("Yearly Trend of Best Shows on Netflix")
ax[1].set_xlabel("Release Year")
ax[1].set_ylabel("Number of Best Shows")
ax[1].tick_params(axis='x', rotation=45)

plt.tight_layout()
plt.show()

Yearly Trend of Best Movies and Shows:
Best Movies:

We can observe that the years from the late 1990s to the mid-2010s have a high number of movies that made it to the "best" list. There seems to be a peak around 2004.
The last couple of years seem to have fewer movies making the cut, possibly due to evolving selection criteria or increased competition from other platforms.
Best Shows:

The distribution of best shows is quite different from movies. The late 2010s, particularly 2017 and 2018, have the highest number of shows on the "best" list.
This might indicate that Netflix has been investing more in high-quality show content in recent years, or the criteria for selecting best shows might favor recent releases.

In [ ]:
# Plot IMDb score distribution for best movies, best shows, and the overall catalog
fig, ax = plt.subplots(3, 1, figsize=(15, 15))

# IMDb scores for Best Movies
sns.histplot(best_movies_merged['imdb_score'], kde=True, bins=30, ax=ax[0], color='blue')
ax[0].set_title("IMDb Score Distribution of Best Movies on Netflix")
ax[0].set_xlabel("IMDb Score")
ax[0].set_ylabel("Count")

# IMDb scores for Best Shows
sns.histplot(best_shows_merged['imdb_score'], kde=True, bins=30, ax=ax[1], color='green')
ax[1].set_title("IMDb Score Distribution of Best Shows on Netflix")
ax[1].set_xlabel("IMDb Score")
ax[1].set_ylabel("Count")

# IMDb scores for Overall Catalog
sns.histplot(titles_df['imdb_score'], kde=True, bins=30, ax=ax[2], color='gray')
ax[2].set_title("IMDb Score Distribution of Overall Netflix Catalog")
ax[2].set_xlabel("IMDb Score")
ax[2].set_ylabel("Count")

plt.tight_layout()
plt.show()

IMDb Score Distribution Insights:
Best Movies:

Most of the "best" movies on Netflix have IMDb scores ranging from 7 to 9.
There's a noticeable peak around the score of 8.
Best Shows:

The IMDb scores for the best shows are more evenly distributed between 7.5 and 9.
There are peaks around scores of 8 and 8.5, indicating a significant number of shows that have received these ratings.
Overall Catalog:

The overall catalog has a broader distribution of IMDb scores, with many titles having scores between 5 and 8.
This distribution is expected, given that it includes all titles and not just the "best" ones. It's evident that the "best" titles have higher average scores compared to the overall catalog.

In [ ]:
# Plot runtime distribution for best movies and best shows
fig, ax = plt.subplots(2, 1, figsize=(15, 12))

# Runtime for Best Movies
sns.histplot(best_movies_merged['runtime'], kde=True, bins=50, ax=ax[0], color='blue')
ax[0].set_title("Runtime Distribution of Best Movies on Netflix")
ax[0].set_xlabel("Runtime (in minutes)")
ax[0].set_ylabel("Count")

# Runtime for Best Shows (Only considering non-zero runtimes)
sns.histplot(best_shows_merged[best_shows_merged['runtime'] > 0]['runtime'], kde=True, bins=50, ax=ax[1], color='green')
ax[1].set_title("Runtime Distribution of Best Shows on Netflix")
ax[1].set_xlabel("Runtime (in minutes)")
ax[1].set_ylabel("Count")

plt.tight_layout()
plt.show()

Runtime Distribution Insights:
Best Movies:

The majority of the "best" movies on Netflix have a runtime between 80 to 150 minutes.
There are noticeable peaks around 90 minutes and 120 minutes, indicating that movies with these runtimes are more common in the "best" category.
Best Shows:

The distribution for the best shows is quite different from movies. Most of the best shows have episodes with a runtime between 20 to 60 minutes.
There's a significant peak around 45-50 minutes, suggesting that many of the best shows have episodes that are approximately this long.
From this, we can infer that for movies, viewers tend to prefer films that are about 1.5 to 2.5 hours long, while for shows, episode lengths of around 45 minutes seem to be popular.

In [ ]:
# Plot Age Certification distribution for best movies and best shows
fig, ax = plt.subplots(2, 1, figsize=(15, 12))

# Age Certification for Best Movies
sns.countplot(data=best_movies_merged, x="age_certification", ax=ax[0], color='blue', order=best_movies_merged['age_certification'].value_counts().index)
ax[0].set_title("Age Certification Distribution of Best Movies on Netflix")
ax[0].set_xlabel("Age Certification")
ax[0].set_ylabel("Count")

# Age Certification for Best Shows
sns.countplot(data=best_shows_merged, x="age_certification", ax=ax[1], color='green', order=best_shows_merged['age_certification'].value_counts().index)
ax[1].set_title("Age Certification Distribution of Best Shows on Netflix")
ax[1].set_xlabel("Age Certification")
ax[1].set_ylabel("Count")

plt.tight_layout()
plt.show()

Age Certification Distribution Insights:
Best Movies:

The "best" movies on Netflix span a range of age certifications.
The most prevalent age certification for the best movies is R, indicating that a lot of mature content makes it to the "best" list.
This is followed by PG-13, PG, and NR (Not Rated).
Best Shows:

Similar to movies, the age certification R dominates the "best" shows category, suggesting a preference for mature content.
TV-MA (Mature Audiences) is also a prevalent age certification for the best shows.
TV-14 and PG-13 are also common, suggesting that there is a mix of content suitable for different age groups.
From this, we can infer that mature content (rated R or TV-MA) seems to be highly regarded among Netflix viewers, as a significant portion of it makes it to the "best" lists.

In [ ]:
# Plot Release Year distribution for best movies and best shows
fig, ax = plt.subplots(2, 1, figsize=(15, 12))

# Release Year for Best Movies
sns.histplot(best_movies_merged['release_year'], kde=True, bins=50, ax=ax[0], color='blue')
ax[0].set_title("Release Year Distribution of Best Movies on Netflix")
ax[0].set_xlabel("Release Year")
ax[0].set_ylabel("Count")

# Release Year for Best Shows
sns.histplot(best_shows_merged['release_year'], kde=True, bins=50, ax=ax[1], color='green')
ax[1].set_title("Release Year Distribution of Best Shows on Netflix")
ax[1].set_xlabel("Release Year")
ax[1].set_ylabel("Count")

plt.tight_layout()
plt.show()

Release Year Distribution Insights:
Best Movies:

The best movies on Netflix come from a wide range of release years, from classics to contemporary films.
There's a noticeable increase in movies from the mid-1990s onwards, with peaks around the early 2000s and the 2010s.
This suggests that while there are classics that remain popular, a lot of newer movies from the last two decades have been well-received by viewers.
Best Shows:

The distribution for best shows has a different pattern. We can observe a significant increase in the number of shows from the late 2000s and especially the 2010s.
This indicates that many of the best shows on Netflix are relatively newer, reflecting the recent surge in high-quality TV series production and possibly Netflix's own investments in original content.
From the insights gained, we can conclude that while Netflix has a mix of classic and contemporary movies that viewers appreciate, its TV show content seems to be more recent and is especially strong in the 2010s.

## the most popular genres of "best" movies in each decade.

In [ ]:
# Create a column for the decade
raw_titles_df['decade'] = (10 * (raw_titles_df['release_year'] // 10)).astype(str) + 's'

# Merge the 'best movies' data with the raw titles to get genre information for each best movie
best_movies_with_genres = pd.merge(best_movies_df, raw_titles_df, left_on='title', right_on='title')

# Extract the genres for each movie
best_movies_with_genres['genres'] = best_movies_with_genres['genres'].str.strip("[]").str.replace("'", "").str.split(", ")

# Explode the dataframe on the genres to have one genre per row
best_movies_exploded = best_movies_with_genres.explode('genres')

# Group by decade and genre and count the number of movies
genre_decade_counts = best_movies_exploded.groupby(['decade', 'genres']).size().reset_index(name='counts')

# Pivot the dataframe to have decades as columns and genres as rows
genre_decade_pivot = genre_decade_counts.pivot(index='genres', columns='decade', values='counts').fillna(0)

# Sort the genres by their total count across all decades
genre_decade_pivot = genre_decade_pivot.loc[genre_decade_pivot.sum(axis=1).sort_values(ascending=False).index]

genre_decade_pivot

In [ ]:
# Load the raw_titles.csv file for the analysis
raw_titles_df = pd.read_csv(os.path.join(directory, 'raw_titles.csv'))

# Load best movies dataset
best_movies_df = pd.read_csv(os.path.join(directory, 'Best Movies Netflix.csv'))

# Create a column for the decade
raw_titles_df['decade'] = (10 * (raw_titles_df['release_year'] // 10)).astype(str) + 's'

# Merge the 'best movies' data with the raw titles to get genre information for each best movie
best_movies_with_genres = pd.merge(best_movies_df, raw_titles_df, left_on='title', right_on='title')

# Extract the genres for each movie
best_movies_with_genres['genres'] = best_movies_with_genres['genres'].str.strip("[]").str.replace("'", "").str.split(", ")

# Explode the dataframe on the genres to have one genre per row
best_movies_exploded = best_movies_with_genres.explode('genres')

# Group by decade and genre and count the number of movies
genre_decade_counts = best_movies_exploded.groupby(['decade', 'genres']).size().reset_index(name='counts')

# Pivot the dataframe to have decades as columns and genres as rows
genre_decade_pivot = genre_decade_counts.pivot(index='genres', columns='decade', values='counts').fillna(0)

# Sort the genres by their total count across all decades
genre_decade_pivot = genre_decade_pivot.loc[genre_decade_pivot.sum(axis=1).sort_values(ascending=False).index]

genre_decade_pivot

1950s:
Dominated by comedy, drama, and music.
1960s:
This decade saw a mix, with drama, action, crime, romance, and western genres being prominent.
1970s:
Comedy, crime, action, fantasy, horror, animation, and drama were notable genres.
1980s:
Drama continues its dominance, accompanied by comedy, crime, documentation, horror, war, and western.
1990s:
Drama still leads, followed by comedy, romance, thriller, action, european, and scifi.
2000s:
This decade saw a significant rise in movies, with drama, comedy, crime, romance, action, and thriller being the top genres.
2010s:
A massive surge in movie production. Drama leads the charts, followed by comedy, thriller, crime, action, and romance.
2020s:
While this decade is still young, drama, crime, comedy, documentation, thriller, and action have emerged as the leading genres.
From the above data, it's evident that drama has been consistently popular across all decades, showcasing the genre's timeless appeal.